.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}
.footer_text{
    line-height: 30px;
    color:rgba(255, 255,255, 0.735)
}
.footer_quick-links ul li{
    background:transparent !important;
}
.footer_quick-links ul li a{
    color:rgba(255,255,255,0.735);
}
.quick-links-title{
    margin-bottom: 20px;
    color:#fff;
    font-size:1.1rem;

}
.footer_contact li span,.footer_contact{
    color:rgba(255,255,255,0.735)
}
.footer_contact li span{
    font-style: 1.2rem;

}
footer_contact li p{
    font-style: 0.9rem;
}
    .footer_copyright{
        color:rgba(255, 255,255, 0.735);
        margin-top: 40px;
        margin-right: 0.9rem;

    }
